.heading {
  font-weight: bold;
}

.tableContainer {
  width: 100%;
  overflow: scroll;
}

.table {
  background: #fdfdfd;
  position: relative;
  table-layout: fixed;
}

/**
Simple CSS reset for table styles.
*/
.table,
.table thead,
.table tbody,
.table tfoot,
.table tr,
.table th,
.table td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

.table {
}

.table td,
.table th {
  padding: 5px 12px 5px 20px;
  white-space: nowrap;
}

.table th {
  background: #f5f5f5;
  vertical-align: top;
  text-align: left;
}

.table td {
  text-align: right;
  background: #fff;
}

.topHeaderRow th {
  background: #022873;
  color: #98a8c6;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}

.topHeaderRow__primary th {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.topHeaderRow__primary:first-child th {
  padding-top: 20px;
}

.topHeaderRow:last-child {
  border-bottom: 1px solid #fff;
}

.topHeaderRow .topHeaderCell__value {
  text-align: right;
}

.totalRow {
  color: #000;
}
.totalRow th,
.totalRow td {
  background: #eee;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.totalRow th,
.totalRow td {
  font-weight: 600;
}

.grandTotalRow th,
.grandTotalRow td {
  background: #333;
  color: #fff;
}

.totalColumn th,
.totalColumn td {
  font-weight: 600;
}
.table .headerColumn {
  text-align: left;
}

.table .headerColumn__primary {
  font-weight: 600;
}

.row:first-of-type th,
.row:first-of-type td {
  padding-top: 20px;
}

.row:nth-last-of-type(2) th,
.row:nth-last-of-type(2) td {
  padding-bottom: 20px;
}

.table .topHeaderRow__primary .stickyCell:nth-child(2) {
  outline: 2px solid red;
  left: 246px;
}
